.features {
    margin-bottom: 156px;

    @include mq(lg) {
        margin-right: 5%;
        margin-left: 5%;
        margin-bottom: 30px;
    }

    &__heading {
        margin-bottom: 20px;
    }

    &__english {
        margin-bottom: 67px;
    }
}