.header {
    //position: fixed;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    width: 100%;

    &__inner {
        margin-right: 12.6%;
        margin-left: 12.6%;
        padding-top: 24px;
        padding-bottom: 23px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav {
        @include mq(lg) {
            display: none;
        }
    }

    &__hamburger {
        display: none;

        @include mq(lg) {
            display: block;
        }
    }
}