.heading {
    font-size: 2rem;
    text-align: center;

    @include mq(lg) {
        font-size: 1.25rem;
    }

    &__english {
        color: $text-english;
        text-align: center;
    }

    &--white {
        color: $text-contact;
    }
}