@import "const/**";
@import "media";

body {
    font-family: "Helvetica Neue",
        Arial,
        "Hiragino Kaku Gothic ProN",
        "Hiragino Sans",
        Meiryo,
        sans-serif;
    background-color: $bgc;
    color: $font-color;
}

.clickable-img {
    width: 30%;
}

.bgc--mod {
    background-color: $bgc-mod;
}