@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&family=Roboto:wght@700&display=swap");

body {
	color: #333333;
	font-family: Roboto, 'Noto Sans JP', "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
	font-weight: bold;
}

.header {
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
	position: fixed;
	width: 100%;
}

.header__inner {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-left: 14.1%;
	margin-right: 14.1%;
	padding-bottom: 23px;
	padding-top: 24px;
}

.header__hamburger {
	display: none;
}

.brand {
	align-items: center;
	display: flex;
}

.brand__img {
	height: 47px;
	width: 47px;
}

.brand__title {
	display: block;
	font-size: 1.5rem;
	margin-left: 16px;
}

.nav__inner {
	align-items: center;
	display: flex;
	height: 47px;
}

.nav__item {
	margin-right: 46px;
}

.nav__item:last-child {
	margin-right: 0;
}

.nav__link {
	color: #333333;
	text-decoration: none;
	transition: .25s;
}

.nav__link:hover,
.nav__link:focus {
	opacity: 0.6;
}

.btn {
	background: linear-gradient(to right, #FA41CC, #6020B0);
	border-radius: 10px;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
	color: #FFFFFF;
	display: inline-block;
	font-size: 0.875rem;
	max-width: 100%;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	transition: .25s;
	width: 155px;
}

.btn:hover,
.btn:focus {
	opacity: 0.6;
}

.concept {
	display: flex;
	margin-bottom: 80px;
	margin-left: 12.6%;
	padding-bottom: 113px;
	position: relative;
}

.concept__detail {
	padding-top: 130px;
	width: 50%;
}

.concept__heading {
	font-size: 2rem;
	line-height: 1.7;
	margin-bottom: 30px;
}

.concept__text {
	line-height: 1.7;
	margin-bottom: 35px;
}

.concept__img-wrapper {
	background-image: url(../img/oval.svg);
	background-position: left 50px bottom 100px;
	background-repeat: no-repeat;
	padding-bottom: 110px;
	padding-right: 12.6%;
	padding-top: 130px;
	width: 50%;
}

.concept__img {
	width: 100%;
}

.concept__background {
	height: 681px;
	overflow: hidden;
	width: 623px;
}

@media screen and (max-width: 991px) {

.header__inner {
	justify-content: center;
	margin-left: 0;
	margin-right: 0;
	padding-bottom: 12px;
	padding-top: 12px;
}

.header__brand {
	margin-right: 5%;
}

.header__nav {
	display: none;
}

.header__hamburger {
	display: block;
}

.brand__img {
	height: 30px;
	width: 30px;
}

.brand__title {
	font-size: 1rem;
}

.btn {
	font-size: .75rem;
	width: 120px;
}

.concept__heading {
	font-size: 1.25rem;
}

.concept__text {
	font-size: 0.875rem;
}

}

@media screen and (max-width: 767px) {

.header__brand {
	margin-right: 0;
}

.header__btn {
	display: none;
}

.concept {
	flex-direction: column-reverse;
	margin-bottom: 30px;
	margin-left: 0;
	padding-bottom: 0;
}

.concept__detail {
	margin-left: auto;
	margin-right: auto;
	padding-top: 0;
	text-align: center;
	width: 90%;
}

.concept__img-wrapper {
	background-position: left 20px bottom 50px;
	margin-left: 5%;
	padding-bottom: 30px;
	padding-right: 0;
	padding-top: 30px;
	width: 95%;
}

}

