// colors 
$text-default : #333333;
$text-btn : #FFFFFF;
$text-english:#3BA6C9;
$gradient-start:#FA41CC;
$gradient-end:#6020B0;
$bgc:#FFFFFF;
$sub-bgc:#EEFBFB;
$shadow:rgba(0, 0, 0, 0.16);
$border:#E5E5E5;
$answer:#F2F2F2;