// colors 
$text-default : #333333;
$text-btn : #FFFFFF;
$text-english:#3BA6C9;
$text-contact:#FFFFFF;
$text-caution:red;
$gradient-start:#FA41CC;
$gradient-end:#6020B0;
$contact-start:#05A5FA;
$contact-end:#67FFD6;
$bgc:#FFFFFF;
$sub-bgc:#EEFBFB;
$must-bgc:#0C449B;
$shadow:rgba(0, 0, 0, 0.16);
$border:#E5E5E5;
$answer:#F2F2F2;